<div class="main-content">
  <section class="section">
    <div class="section-header">
      <div class="section-header-back">
        <a routerLink="home" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
      </div>
      <h1>Buat Kegiatan Baru</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Posts</a></div>
        <div class="breadcrumb-item">Create New Post</div>
      </div>
    </div>

    <div class="section-body">
      <h2 class="section-title">Buat Kegiatan Baru</h2>
      <p class="section-lead">
        Di halaman ini Anda dapat membuat kegiatan baru.
      </p>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Isi isian berikut</h4>
              
            </div>
            
            <form  class="needs-validation" novalidate="" (ngSubmit)="onSubmit()" #tambahForm="ngForm">
              <div class="card-body">
                <!-- <p class="text-success">Berhasil menambah kegiatan</p> -->
                <div class="form-group">
                  <label>Nama Kegiatan</label>
                  <input type="text" class="form-control"  required [(ngModel)]="nama" name="nama">
                  <div class="invalid-feedback">
                    harus terisi
                  </div>
                </div>
                <div class="form-group">
                  <label>Seksi</label>
                  <select class="form-control selectric" [(ngModel)]="seksi" name="seksi"> 
                    <option value="{{myData.mySeksi.id}}">{{myData.mySeksi.nama}}</option>
                  </select>
                </div>
                <div class="form-group mb-0">
                  <label>Anggaran</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        RP
                      </div>
                    </div>
                    <input type="text" class="form-control currency" required [(ngModel)]="anggaran" name="anggaran">
                    <div class="invalid-feedback">
                      harus terisi dan berupa angka
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-right">
                <button class="btn btn-primary" type="submit" [disabled]="!tambahForm.valid">Submit</button>
              </div>
            </form>
          </div>
         

        </div>
      </div>
    </div>
  </section>
</div>
<!-- modal -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>